html,
body {
    background-color: black;
    color: rgb(159, 159, 159);
    font-family: Helvetica, Sans-Serif;
    margin: 0;
    padding: 10px;
}

h1 {
    color: rgb(159, 159, 159);
    top:10px;
}
p {
    max-resolution: 10%;
    font-size: 1px;
}

.videoWrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videoWrap iframe {
position: absolute;
left: 10px;
top: px;
right: 10px;
bottom: 10px;
height: 100%;
width: 100%;
}